@charset "UTF-8"

@font-face {
    font-family: 'android';
    src: url(fontes/idroid.otf) format('open type');
    font-weight: normal; font-style: normal;
}



* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    background-attachment: fixed;
}

header {
    background-image: linear-gradient(to bottom, #69ac7e,#33ae5e 8%,#1B5936 30%, #1B5936 30%);
    background-attachment: fixed;
    text-align: center;
    line-height: 40px;
    padding: 20px;
}

main {
    background-color: #82d9a0;
}

.principal {
    background-color: white;
    padding: 0.5em;
    margin: auto;
    box-shadow: 1px 1px 2px 3px rgba(0, 0, 0, 0.235);
    justify-content: center;
    width: 70%;
}

a {
    font-weight: 700;
    text-decoration: none;
    padding: 10px;
}

.textosbrancos {
    color: white;
}
.textosbrancos > a {
    color: white;
}
.textosbrancos > a:hover {
    color: #82d9a0;
    text-shadow: 1px 1px 5px black;
}

header > h2 {
    font: normal 100 1em arial
}

h1 {
    padding: 10px;
}

p {
    text-align: justify;
    margin: 1em;
}

.destaque {
    background-color: rgba(81, 193, 81, 0.527);
}
.titulos {
    font-family: 'android';
    color: #226e43;
    background-color: #82d9a04d;
}

aside {
    background-color: rgba(76, 227, 164, 0.39);
    box-shadow: 1px 2px 7px rgba(0, 0, 0, 0.372);
}

.aprenda-mais {
    border-radius: 20px 20px;
    padding-bottom: 10px;
}

.aprenda-mais > h2 {
    border-radius: 20px 20px 0px 0px;
    background-color: #33ae5e;
    padding: 10px;
    color: white;
}

iframe {
    background-color: #1B5936;
    padding: 25px;
}

.centralizar > iframe {
    display: block;
    margin: 20px auto;
}

picture > img {
    display: block;
    margin: auto;
}

footer {
    background-color: #1B5936;
    color: white;
}

footer > p {
    font-size: 14px;
    margin: 0%;
    padding: 5px;
    text-align: center;
}

li {
    padding-left: 1%;
    list-style: inside;
}

@media (min-width: 1440px) {
    body {
        width: 100%;
    }
    header {
        width: 100%;
        font-size: 1.8em;
        padding: 3%;
    }
    header > h1 {
        padding: 0.5em;
    }
    header > h2 {
        padding-bottom: 0.8em;
        font-size: 1.2em;
    }
    header > nav {
        font-size: 1.5em;
    }
    main {
        width: 100%;
        font-size: 2em;
    }
    .principal {
        width: 85%;
    }

    picture > img {
        width: 80%;
    }

    iframe {
        width: 100%;
        padding: 10px;
    }

    li {
        padding-left: 5%;
    }

    footer {
        width: 100%;
    }
    footer > p {
        font-size: 2em;
    }

}

@media (max-width: 1024px) {
 
    body {
        overflow-x: hidden;
        width: 100%;
    }
    header {
        padding: 1% 0%;
        width: 100%;
        height: 9em;
        font-size: 1em;
    }

    a {
        font-size: 1.3em;
        justify-content: space-between;
        padding: 0.5em 0.5em;

    }

    header > h1 {
        font-size: 2.5em;
        padding: 5px 5px 5px;
    }

    header > h2 {
        font-size: 1.1em;
        padding: 0px 3px 10px;
    }
    nav {
        margin: 0%;
        display: inline;
        width: 100%;
    }

    .low-height {
        padding-top: 0.5em;
        line-height: 1.2em;
    }
    main {
        width: 100%;
        font-size: 0.5em;
    }
    .principal {
        width: 90%;
    }
    .titulos {
        font-size: 1.2em;
    }
    aside > h2 {
        font-size: 1.2em;
    }
    
    main {
        width: 100%;
        font-size: 1em;
    }

    picture > img {
        width: 40%;
    }

    iframe {
        width: 100%;
        padding: 10px;
    }

    li {
        padding-left: 5%;
    }

    footer {
        width: 100%;
        padding: 3px;
    }

    footer > p {
        font-size: 1em;
    }

}


@media (max-width: 768px) {

    body {
        overflow-x: hidden;
        width: 100%;
    }
    header {
        padding: 3%;
        width: 100%;
        height: 13em;
        font-size: 1em;
    }

    a {
        font-size: 1.7em;
        justify-content: space-between;
        padding: 5px 10px;

    }

    header > h1 {
        font-size: 2.5em;
        padding: 5px 5px 15px;
    }

    header > h2 {
        font-size: 1.3em;
        padding: 0px 5px 20px;
    }
    nav {
        margin: 0%;
        display: inline;
        width: 100%;
    }

    .low-height {
        padding-top: 0.5em;
        line-height: 1.2em;
    }
    main {
        width: 100%;
        font-size: 1em;
    }
    .principal {
        width: 90%;
    }
    .titulos {
        font-size: 1.2em;
    }
    aside > h2 {
        font-size: 1.2em;
    }
    
    main {
        width: 100%;
        font-size: 1.3rem;
    }

    picture > img {
        width: 50%;
    }

    iframe {
        width: 100%;
        padding: 10px;
    }

    li {
        padding-left: 5%;
    }

    footer {
        width: 100%;
        padding: 5px;
    }

    footer > p {
        font-size: 0.9em;
    }

}

@media (max-width: 425px) {

    body {
        overflow-x: hidden;
        width: 100%;
    }
    header {
        padding: 3%;
        width: 100%;
        height: 20em;
        font-size: 0.7em;
    }

    a {
        font-size: 1.7em;
        justify-content: space-between;
        padding: 5px 10px;

    }

    header > h1 {
        font-size: 2.5em;
        padding: 2px 5px;
    }

    header > h2 {
        font-size: 1.3em;
        padding: 0px 5px 5px;
    }
    nav {
        margin: 0%;
        display: flex;
        width: 100%;
    }

    .low-height {
        padding-top: 0.5em;
        line-height: 1.2em;
    }
    main {
        width: 100%;
        font-size: 1em;
    }
    .principal {
        width: 90%;
    }
    .titulos {
        font-size: 1em;
    }
    aside > h2 {
        font-size: 1.2em;
    }
    
    main {
        width: 100%;
    }

    picture > img {
        width: 90%;
    }

    iframe {
        width: 100%;
        padding: 10px;
    }

    li {
        padding-left: 5%;
    }

    footer {
        width: 100%;
    }

}

@media (max-width: 320px) {

    body {
        overflow-x: hidden;
        width: 100%;
    }
    header {
        padding: 2%;
        width: 100%;
        height: 23em;
        font-size: 0.7em;
    }

    a {
        font-size: 1.5em;
        justify-content: space-between;
        padding: 5px 10px;
    }

    header > h1 {
        font-size: 2em;
        padding: 2px 5px;
    }

    header > h2 {
        font-size: 1.5em;
        padding: 0px 5px;
    }
    nav {
        width: 90%;
        margin: 0 auto;
        padding-top: 10px;
    }
    main {
        width: 100%;
        font-size: 1em;
    }
    .principal {
        width: 90%;
    }
    .titulos {
        font-size: 1em;
    }
    aside > h2 {
        font-size: 1.3em;
    }
    
    main {
        width: 100%;
    }

    picture > img {
        width: 90%;
    }

    iframe {
        width: 100%;
        padding: 10px;
    }

    li {
        padding-left: 5%;
    }

    footer {
        width: 100%;
    }

}

